.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 30px auto;
}
.main .wrapper .left {
  width: 45%;
}
.main .wrapper .left .card {
  width: 100%;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 6px rgba(4, 44, 107, 0.3);
          box-shadow: 0 3px 6px rgba(4, 44, 107, 0.3);
}
.main .wrapper .left .card .content_card {
  padding: 10px;
}
.main .wrapper .left .card .content_card .title {
  font-size: 24px;
  color: black;
  font-weight: 700;
}
.main .wrapper .left .card .content_card .sub_title {
  font-size: 20px;
  color: aqua;
  font-weight: 700;
  margin-top: 5px;
}
.main .wrapper .left .card .content_card .content {
  font-size: 18px;
  color: black;
  margin-top: 10px;
  line-height: 1.2;
}
.main .wrapper .left .card .content_card .date_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}
.main .wrapper .left .card .content_card .date_info .text_date_info {
  font-size: 18px;
  color: aliceblue;
}
.main .wrapper .left .card .content_card .date_info .date {
  font-size: 18px;
  color: aliceblue;
}
.main .wrapper .left .card .content_card .btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}
.main .wrapper .left .card .content_card .btn_wrap .btn {
  font-size: 18px;
  color: white;
  background: #1433c4;
  border-radius: 15px;
  padding: 12px 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main .wrapper .left .card .content_card .btn_wrap .btn:hover {
  background: #3b62c4;
}